.colorBtn {
    width: 80px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: none;
}

.colorBtn label {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 20px;
    font-weight: 900;
}

.colorBtn-select {
    background-color: var(--light2);
}