@font-face {
  font-family: 'Josefin Slab';
  font-weight: 1000;
  src: url('./fonts/JosefinSlab-VariableFont_wght.ttf');
}

:root {
  --light: rgb(221, 216, 208);
  --light2:  rgb(199, 206, 167);
  --dark:  rgb(167, 160, 146);
  --darker: rgb(83, 73, 38);
}

body {
  text-align: center;
  background-color: var(--light);
}

body, button {
  font-family: 'Josefin Slab';
  color: var(--darker);
}

h1 {
  font-size: 50px;
}

button {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  border: 3px solid var(--dark);
  transition-duration: 50ms;
}

button:active {
  filter: brightness(0.5);
  transform: rotate(3deg) scale(0.9);
}

button:focus {
  outline: none;
}

.eraseBtn {
  width: 100px;
}

.rule-card {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: none;
  width: auto;
  height: 70px;
}

.rule-card:active {
  transform: none;
}

.rule-pair {
  display: inline-flex;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}